@model IEnumerable<KamikazeTrungThanh.Web.Models.SlideViewModel>
@{ 
    var countSlide = Model.Count();
}
<div id="slidey" class="container" data-value="@countSlide" style="display:none;">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <img src="@item.Image" alt="">
                <p class='title'>
                    @item.Name
                </p>
                <p class='description'>
                    <span>@item.Description</span>
                   
                </p>
                
            </li>
        }
        
    </ul>
</div>
<script src="~/Assets/client/js/jquery.slidey.js"></script>
<script src="~/Assets/client/js/jquery.dotdotdot.min.js"></script>
<script type="text/javascript">
    var countTamp = $(slidey).attr('data-value') ;
	$("#slidey").slidey({
		interval: 8000,
		listCount: countTamp,
		autoplay: false,
		showList: true
	});
	$(".slidey-list-description").dotdotdot();
</script>
