
<div class="footer container">
   
        <div class="col-md-10 w3ls_footer_grid1_left">
            <span >
                <span>
                    <a href="#">
                        <span>
                            <strong>CÔNG TY TNHH TM DV In Bao Bì TRUNG THANH</strong>
                        </span>
                    </a>
                    <br>
                    Điện thoại hỗ trợ: <a href="#"><span>0908.999.623</span></a>
                </span>
                <br>
                Email hỗ trợ: huynhngocvu79@gmail.com | inbaobitt@gmail.com
                <br>
                Trụ sở: 75/6 Chế Lan Viên, P.Tây Thạnh, Q.Tân Bình, Tp.HCM
                <br>
                Chi nhánh: C5/1B Nữ Dân Công, Vĩnh Lộc A, Bình Chánh, Tp.HCM 
                <br>
                <span style="font-size:8px;">
                    Kamikaze Analysis Solution, Thiết kế Website, quảng cáo, quản trị Website
                </span>
            </span>
        </div>

        <div class="clearfix"> </div>

</div>
