
<div class="footer container">
    <div class="container">
        
        <div class="col-md-7 w3ls_footer_grid1_left">
            <span style="font-family:tahoma,geneva,sans-serif;">
                <span style="font-size:12px;">
                    <a href="http://muitenvang.vn"><span style="color:#d3d3d3;"><strong>CÔNG TY TNHH TM DV In Bao Bì TRUNG THANH</strong></span></a><br>
                    Điện thoại hỗ trợ: <a href="tel:0917875995"><span style="color:#ffffff;">0908.999.623</span></a>
                </span><br>
                Email hỗ trợ: huynhngocvu79@gmail.com | inbaobitt@gmail.com<br>
                Trụ sở: 75/6 Chế Lan Viên, P.Tây Thạnh, Q.Tân Bình, Tp.HCM<br>
                Chi nhánh: C5/1B Nữ Dân Công, Vĩnh Lộc A, Bình Chánh, Tp.HCM <br>
                <span style="font-size:8px;"><a href="http://bigweb.com.vn/quang-cao-google.html" rel="nofollow" style="font-family: tahoma, geneva, sans-serif;" target="_blank" title="Kamikaze Analysis Solution" type="Quảng cáo Google Adwords, quảng cáo google"><span style="color:#d3d3d3;">Kamikaze Analysis Solution</span></a><span style="color:#d3d3d3;">,&nbsp;</span><a href="http://bigweb.com.vn" rel="nofollow" target="blank" title="Công ty thiết kế website, thiết kế website chuyên nghiệp"><span style="color:#d3d3d3;">Công ty thiết kế website</span></a><span style="color:#d3d3d3;">,&nbsp;</span><a href="http://admarket.vn" style="font-family: tahoma, geneva, sans-serif;" target="_blank" title="quang cao"><span style="color:#d3d3d3;">quang cao</span></a><span style="color:#d3d3d3;">,&nbsp;</span><a href="http://skymedia.com.vn/dich-vu-quan-tri-website/" style="font-family: tahoma, geneva, sans-serif;" target="_blank" title="Quản trị website" type="Dịch vụ quản trị website"><span style="color:#d3d3d3;">quản trị website</span></a></span>
            </span>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="genres.html">Movies</a>
                </li>
                <li>
                    <a href="faq.html">FAQ</a>
                </li>
                <li>
                    <a href="horror.html">Action</a>
                </li>
                <li>
                    <a href="genres.html">Adventure</a>
                </li>
                <li>
                    <a href="comedy.html">Comedy</a>
                </li>
                <li>
                    <a href="icons.html">Icons</a>
                </li>
                <li>
                    <a href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
