@model KamikazeTrungThanh.Web.Models.ProductCategoryViewModel
@{
    ViewBag.Title = "About Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="container content-wrapper">
    <div class="content-wrapper-top">

        <h4>Vài nét về Trung Thanh</h4>
        <div class="clearfix"> </div>
    </div>
    <div class="content-wrapper-row">
        <span>
            @Html.Raw(@Model.MetaDescription)
            
        </span>
        

    </div>

</div>


