
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="warranty">
    <h2>Quý khách hàng thông cảm !!!</h2><br />
    <h2>Hệ thống đang cập nhật dữ liệu.</h2>
</div>


