<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="PageSize" value="3" />
  <add key="MaxPage" value="5" />

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="kamikaze.analysis.solution@gmail.com"/>
  <add key="FromEmailPassword" value="gnuhnoaht"/>
  <add key="FromName" value="TranVanThao"/>
  <add key="AdminEmail" value="vietnamthaotranvan@gmail.com"/>
  
</appSettings>
