<connectionStrings>
  <clear />

  <add name="KamikazeTrungThanhConnection" providerName="System.Data.SqlClient" connectionString="Data Source=LENOVO-THINK\SQLEXPRESS;Initial Catalog=KamikazeTrungThanh;Integrated Security=False;User Id=sa;Password=`1qaz2wsx3edcC;MultipleActiveResultSets=True" />
</connectionStrings>
