
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="products">
    <div class="container">
        @{ Html.RenderAction("ProductCategoryPartialView", "Portfolio");}
        <div class="col-md-9 product-w3ls-right">
            @{ Html.RenderAction("ProductHeaderPartialView", "Portfolio");}
            
            <div class="single-page">
                <div class="single-page-row" id="detail-21">
                    <div class="col-md-6 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="~/Assets/client/images/s1.jpg">
                                    <div class="thumb-image detail_images"> <img src="~/Assets/client/images/s1.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                </li>
                                <li data-thumb="~/Assets/client/images/s2.jpg">
                                    <div class="thumb-image"> <img src="~/Assets/client/images/s2.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                </li>
                                <li data-thumb="~/Assets/client/images/s3.jpg">
                                    <div class="thumb-image"> <img src="~/Assets/client/images/s3.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 single-top-right">
                        <h3 class="item_name">Electric Snow Blower</h3>
                        <p>Processing Time: Item will be shipped out within 2-3 working days. </p>
                        <div class="single-rating">
                            <ul>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                <li class="rating">20 reviews</li>
                                <li><a href="#">Add your review</a></li>
                            </ul>
                        </div>
                        <div class="single-price">
                            <ul>
                                <li>$540</li>
                                <li><del>$600</del></li>
                                <li><span class="w3off">10% OFF</span></li>
                                <li>Ends on: June,5th</li>
                                <li><a href="#"><i class="fa fa-gift" aria-hidden="true"></i> Coupon</a></li>
                            </ul>
                        </div>
                        <p class="single-price-text">Fusce a egestas nibh, eget ornare erat. Proin placerat, urna et consequat efficitur, sem odio blandit enim, sit amet euismod turpis est mattis lectus. Vestibulum maximus quam et quam egestas imperdiet. In dignissim auctor viverra. </p>
                        <form action="#" method="post">
                            <input type="hidden" name="cmd" value="_cart" />
                            <input type="hidden" name="add" value="1" />
                            <input type="hidden" name="w3ls_item" value="Snow Blower" />
                            <input type="hidden" name="amount" value="540.00" />
                            <button type="submit" class="w3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                        </form>
                        <button class="w3ls-cart w3ls-cart-like"><i class="fa fa-heart-o" aria-hidden="true"></i> Add to Wishlist</button>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div> 

        </div>

        <div class="clearfix"> </div>
        <!-- recommendations -->
        @{ Html.RenderAction("Bottom", "Home");}
        <!-- //recommendations -->
    </div>
</div>

<!--flex slider-->
<script src="~/Assets/client/js/jquery.flexslider.js"></script>
<link href="~/Assets/client/css/flexslider.css" rel="stylesheet" />
<script>
	// Can also be used with $(document).ready()
	$(window).load(function() {
	  $('.flexslider').flexslider({
		animation: "slide",
		controlNav: "thumbnails"
	  });
	});
</script>
<script src="~/Assets/client/js/imagezoom.js"></script>

<!--flex slider-->


