@{
    ViewBag.Title = "Portfolio Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="products">
    <div class="container">
        @{ Html.RenderAction("ProductCategoryPartialView","Portfolio");}
        <div class="col-md-9 product-w3ls-right">
            @{ Html.RenderAction("ProductHeaderPartialView","Portfolio");}
            <div class="products-row">
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>20%<br>Off</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e1.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Audio speaker</a></h5>
                            <h6><del>$200</del> $100</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Audio speaker" />
                                <input type="hidden" name="amount" value="100.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>New</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e2.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Refrigerator</a></h5>
                            <h6><del>$700</del> $300</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Refrigerator" />
                                <input type="hidden" name="amount" value="300.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>5% <br> Off</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e3.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Smart Phone</a></h5>
                            <h6><del>$100</del> $70</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                <input type="hidden" name="amount" value="70.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>New</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e4.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Digital Camera</a></h5>
                            <h6><del>$100</del> $80</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Digital Camera" />
                                <input type="hidden" name="amount" value="80.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>New</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e4.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Digital Camera</a></h5>
                            <h6><del>$100</del> $80</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Digital Camera" />
                                <input type="hidden" name="amount" value="80.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>5% <br> Off</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e3.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Smart Phone</a></h5>
                            <h6><del>$100</del> $70</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                <input type="hidden" name="amount" value="70.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>20%<br>Off</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e1.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Audio speaker</a></h5>
                            <h6><del>$200</del> $100</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Audio speaker" />
                                <input type="hidden" name="amount" value="100.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>New</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e2.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Refrigerator</a></h5>
                            <h6><del>$700</del> $300</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Refrigerator" />
                                <input type="hidden" name="amount" value="300.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>20%<br>Off</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e1.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Audio speaker</a></h5>
                            <h6><del>$200</del> $100</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Audio speaker" />
                                <input type="hidden" name="amount" value="100.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>New</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e2.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Refrigerator</a></h5>
                            <h6><del>$700</del> $300</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Refrigerator" />
                                <input type="hidden" name="amount" value="300.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>5% <br> Off</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e3.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Smart Phone</a></h5>
                            <h6><del>$100</del> $70</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                <input type="hidden" name="amount" value="70.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>New</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e4.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Digital Camera</a></h5>
                            <h6><del>$100</del> $80</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Digital Camera" />
                                <input type="hidden" name="amount" value="80.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>New</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e4.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Digital Camera</a></h5>
                            <h6><del>$100</del> $80</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Digital Camera" />
                                <input type="hidden" name="amount" value="80.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>5% <br> Off</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e3.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Smart Phone</a></h5>
                            <h6><del>$100</del> $70</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Smart Phone" />
                                <input type="hidden" name="amount" value="70.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>20%<br>Off</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e1.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Audio speaker</a></h5>
                            <h6><del>$200</del> $100</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Audio speaker" />
                                <input type="hidden" name="amount" value="100.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>New</h6></div>
                        <a href="single.html"><img src="~/Assets/client/images/e2.png" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="single.html">Refrigerator</a></h5>
                            <h6><del>$700</del> $300</h6>
                            <form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="w3ls_item" value="Refrigerator" />
                                <input type="hidden" name="amount" value="300.00" />
                                <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
         
        </div>
        
        <div class="clearfix"> </div>
        <!-- recommendations -->
        @{ Html.RenderAction("Bottom", "Home");}
        <!-- //recommendations -->
    </div>
</div>

