
@{
    ViewBag.Title = "Portfolio Index";
    Layout = "~/Views/Shared/Layouts.cshtml";

   
    var aliasDefault = (string)ViewBag.aliasDefault;
    var idDefault = (int)ViewBag.idDefault;

}

<div class="products container">
    <div class="row">


        @{ Html.RenderAction("ProductCategoryPartialView", "Portfolio", new { ikeyword = "portfolio" });}

        <div id="product" class="col-md-9">

            @{Html.RenderAction("Default", "Portfolio", new { alias = aliasDefault }); }

        </div>

        <div class="clearfix"> </div>
    </div>
    <!-- recommendations -->
    @{ Html.RenderAction("Bottom", "Portfolio");}
    <!-- //recommendations -->
  
    <div class="clearfix"></div>
</div>

