@{ 
    var listBreadcrumb = (IEnumerable<KamikazeTrungThanh.Web.Models.ProductCategoryViewModel>)ViewBag.listBreadcrumb;
    var TheEnd = listBreadcrumb.Count();
    var step = 0;
}
<!-- breadcrumbs -->
<ol class="breadcrumb breadcrumb1">
    @foreach (var item in listBreadcrumb)
    {
        step = step + 1;
        if (step != TheEnd)
        {
            <li><a href="index.html">@item.Name</a></li>
        }
        else
        {
            <li class="active">@item.Name</li>
        }
    }
    
    
</ol>
<div class="clearfix"> </div>
<!-- //breadcrumbs -->
<div class="product-top">
    <h4>@listBreadcrumb.Last().Name</h4>
    <div class="move-text">
        <div class="marquee">
            <a href="offers.html"> 
             
                <span>Với tiêu chí luôn vì lợi ích của khách hàng và uy tín của công ty.</span> 
                <span>Chúng tôi hi vọng phục vụ sự phát triển của quý khách hàng mọi lúc mọi nơi.</span>
            </a></div>
        <script src="~/Assets/client/js/jquery.marquee.min.js"></script>
        <script>
					  $('.marquee').marquee({ pauseOnHover: true });

        </script>
    </div>
    @*<ul>
            <li class="dropdown head-dpdn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Low price</a></li>
                    <li><a href="#">High price</a></li>
                    <li><a href="#">Latest</a></li>
                    <li><a href="#">Popular</a></li>
                </ul>
            </li>
        </ul>*@
    <div class="clearfix"> </div>
</div>
