<!-- breadcrumbs -->
<ol class="breadcrumb breadcrumb1">
    <li><a href="index.html">Home</a></li>
    <li class="active">Products</li>
</ol>
<div class="clearfix"> </div>
<!-- //breadcrumbs -->
<div class="product-top">
    <h4>Electronics</h4>
    <div class="move-text">
        <div class="marquee"><a href="offers.html"> New collections are available here...... <span>Get extra 10% off on everything | no extra taxes </span> <span> Try shipping pass free for 15 days with unlimited</span></a></div>
        <script src="~/Assets/client/js/jquery.marquee.min.js"></script>
        <script>
					  $('.marquee').marquee({ pauseOnHover: true });

        </script>
    </div>
    @*<ul>
            <li class="dropdown head-dpdn">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Low price</a></li>
                    <li><a href="#">High price</a></li>
                    <li><a href="#">Latest</a></li>
                    <li><a href="#">Popular</a></li>
                </ul>
            </li>
        </ul>*@
    <div class="clearfix"> </div>
</div>
